body {
	max-height: 100vh;
}

/* Card CSS ******************************************************************/
.tracker-card {
	box-shadow: 2px 2px 5px #888;
	background: #FFF;
	border-radius: 0.5rem;

	height: fit-content;
	margin-bottom: 1rem;
}

.tracker-card-title {
	padding: 5px;
	background: #DDD;
	border-radius: 0.5rem 0.5rem 0 0;
}

.tracker-card-title p {
	font-size: 1.5em;
	text-align: right;
}

.tracker-card-content {
	padding: 5px;
}

.tracker-card-content p {
	text-align: justify;
	margin-bottom: 1em;
}

.tracker-card-footer {
	display: grid;
	grid-template-columns: 1fr 1fr;

	padding: 5px;
}

.tracker-card-footer > div:nth-child(2) {
	text-align: right;
}

/**/

.header {
	display: flex;
	flex-wrap: nowrap;
	height: 2.5em;
	border-bottom: 1px darkgray solid;
	padding: 6px;
}

.header > div {
	width: fit-content;
	margin-right: 2em;
}

.grid-container {
	display: grid;
	grid-template-columns: 1fr 1fr;
	height: calc(100vh - (2.5em));
}

#node-locations {
	overflow-y: auto;
	padding: 10px;
}

.node-material {
	margin-bottom: 0.25em;
	display: flex;
	flex-direction: row;
}

.node-material > div{
	margin-right: 10px;
}

.node-material > div:first-child {
	width: 220px;
}

#node-queue > div.spacer{
	margin-bottom: 3em;
}

#node-queue-container {
	border-right: 1px darkgray solid;
	overflow-y: auto;
	padding: 10px;
}

#next-node {
	margin-bottom: 2em;
}
